body {
    margin: 0;
    padding: 0;
    border: calc(var(--body-border-width, 20px) * 1 / 1 + 0px) solid transparent;
    z-index: 100;
    content: '';
    user-select: none;
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: inherit;
    border-bottom-width: 0;
    border-color: var(--secondary, #0828CC);
    box-sizing: border-box;
}